# Backend fore VITE
# VITE_BACK_END_PROD=https://api-289273895966.asia-southeast1.run.app/api/v1/
VITE_BACK_END_PROD=http://localhost:3300/api/v1/
VITE_BACK_END_DEV=https://dev.bikehub.me/api/v1/
VITE_BACK_END_LOCAL=http://localhost:3300/api/v1/
# dev OR prod OR local
VITE_MODE=local

# Google reCAPTCHA v2 Site Key (get from https://www.google.com/recaptcha/admin)
VITE_RECAPTCHA_SITE_KEY=

